// Секция Клиенты

.section.clients {
  background-color: $primary-color;
}

.clients-list {
  @include minMedia($desk) {
    display: flex;
    margin: calc(-1 * #{$gap});
  }
}

.clients-list__item {
  @include minMedia($desk) {
    margin: 15px;
    width: calc(100% - (12 * #{$gap}) / 6);
  }
}

.clients-list__link {
  border: $clients-border;
  border-radius: 4px;
  color: $icon-fill-color;
  transform: scale(1);

  transition: border-color $main-effect, color $main-effect, transform $main-effect;

  @include minMedia($desk) {
    @include centeredFlex();
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    transform: scale(1.1);
  }
}

.clients-list__icon {
  fill: currentColor;
}
