// Фильтра портфолио

.filter-list {
  @include minMedia($desk) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter-list__item:not(:last-child) {
  @include minMedia($desk) {
    margin-right: 8px;
  }
}

.filter-list__button {
  background-color: $primary-bg-color;
  color: $title-text-color;

  @include textFont($ff: inherit, $fw: 500, $fs: 16px, $lh: 1.62, $ls: null);
  text-align: center;

  border: transparent;
  border-radius: 4px;

  transition: box-shadow $main-effect, color $main-effect, background-color $main-effect;

  @include minMedia($desk) {
    padding: 6px 22px;
  }

  &:hover,
  &:focus {
    box-shadow: $filter-button-shadow;
    color: $primary-color;
    background-color: $accent-color;
  }

  &--active {
    box-shadow: $filter-button-shadow;
    color: $primary-color;
    background-color: $accent-color;
  }
}
