// Футер Социалки

.footer-social {
  display: block;

  @include maxMedia($preDesk) {
    margin-bottom: 102px;
  }

  @include maxMedia($preTab) {
    margin-bottom: 60px;
  }

  @include minMedia($desk) {
    margin-right: 93px;
  }
}

.social-wrapper {
  display: flex;
  justify-content: center;
}

.social-label,
.subscribe-form__label {
  display: block;
  margin-bottom: 20px;

  @include textFont($ff: inherit, $fw: 700, $fs: null, $lh: 1.14, $ls: null);
  text-transform: uppercase;

  color: $primary-color;
}
