// Футер Социалки

.footer-social {
  @include minMedia($desk) {
    display: block;
    margin-right: 93px;
  }
}

.social-wrapper {
  @include minMedia($desk) {
    display: flex;
  }
}

.social-label,
.subscribe-form__label {
  @include minMedia($desk) {
    display: block;
    margin-bottom: 20px;
  }
  @include textFont($ff: inherit, $fw: 700, $fs: null, $lh: 1.14, $ls: null) text-transform:
    uppercase;

  color: $primary-color;
}
