// Футер общие

.footer {
  background-color: $footer-bg-color;
  @include minMedia($desk) {
    padding: 60px 0;
  }
}

.footer__container {
  @include minMedia($desk) {
    display: flex;
    align-items: baseline;
  }
}
