// Шапка Навигация

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include minMedia($tab) {
    justify-content: start;
  }
}

.nav-list {
  display: flex;

  @include maxMedia($preTab) {
    display: none;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include textFont($ff: null, $fw: 500, $fs: null, $lh: 1.14, $ls: 0.02em);

  color: $title-text-color;

  transition: color $main-effect;

  &--current {
    color: $accent-color;
  }

  &--current::after {
    content: '';

    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// Шапка Навигация-Контакты

.contact-list {
  margin-left: auto;

  @include maxMedia($preTab) {
    display: none;
  }

  @include minMedia($desk) {
    display: flex;
  }
}

.contact-list__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    @include maxMedia($preDesk) {
      margin-bottom: 10px;
    }
    @include minMedia($desk) {
      margin-right: calc(#{$gap} * 2);
    }
  }
}

.contact-list__link {
  @include centeredFlex($just: start);

  @include minMedia($desk) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include textFont($ff: null, $fw: 500, $fs: null, $lh: 1.14, $ls: 0.02em);

  color: $primary-text-color;

  transition: color $main-effect;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__icon {
  fill: currentColor;
  justify-content: center;

  @include maxMedia($preDesk) {
    &--env {
      width: 14px;
      height: 10px;
    }

    &--smart {
      width: 10px;
      height: 14px;
    }
  }

  @include minMedia($tab) {
    margin-right: 8px;
  }

  @include minMedia($desk) {
    margin-right: 10px;
  }
}

.icon {
  @include maxMedia($preDesk) {
    display: none;
  }
}

.icon-tab {
  @include minMedia($desk) {
    display: none;
  }
}
