// Секция Герой

.container-fluid {
  @include minMedia($desk) {
    min-height: 600px;
    max-width: 1600px;
    margin: 0 auto;
  }
  background: $hero-bg-gradient, url('../images/hero.jpg'), $hero-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero {
  text-align: center;
  @include minMedia($desk) {
    padding: 200px 0;
  }
}

.section-hero__title {
  @include minMedia($desk) {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(#{$gap} * 2);
  }

  color: $primary-color;

  @include textFont($ff: null, $fw: 900, $fs: 44px, $lh: 1.36, $ls: 0.06em);

  text-transform: uppercase;
}
