// Портфолио

.portfolio-list {
  @include minMedia($tab) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * #{$gap});
  }
}

.portfolio-list__item {
  margin-bottom: 2 * $gap;

  @include minMedia($tab) {
    margin: $gap;
    width: calc(100% / 2 - (2 * #{$gap}));
  }

  @include minMedia($desk) {
    width: calc(100% / 3 - (2 * #{$gap}));
  }
}

.port-img {
  width: 100%;
}

.portfolio-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow $main-effect;

  &:hover,
  &:focus {
    box-shadow: $portfolio-item-shadow;
  }
}

.portfolio-list__subtitle {
  color: $title-text-color;

  @include textFont($ff: null, $fw: 700, $fs: 18px, $lh: 2, $ls: 0.06em);
}

.portfolio-list__card {
  flex-grow: 1;
  padding: 20px 24px;

  border: $portfolio-card-border;
  border-top: 0;
}

.portfolio-list__filter-name {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  display: flex;
  align-items: center;

  padding: 0 24px;
  background-color: $overlay-bg-color;

  overflow: hidden;
  overflow-y: auto;
  // если будет больше текста, ставим overflow:auto - появятся скроллы

  transform: translateY(101%);

  transition: transform $main-effect, opacity $main-effect;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio-list__overlay-text {
  font-size: 18px;
  line-height: 1.56;

  color: $primary-color;
}
