// Портфолио

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * #{$gap});
}

.portfolio-list__item {
  margin: $gap;
  width: calc(100% / 3 - (2 * #{$gap}));
}

.port-img {
  width: 100%;
}
.portfolio-list__link {
  display: block;
  transition: box-shadow $main-effect;

  &:hover,
  &:focus {
    box-shadow: $portfolio-item-shadow;
  }
}

.portfolio-list__subtitle {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__card {
  padding: 20px 24px;
  border: $portfolio-card-border;
  border-top: 0;
}

.portfolio-list__filter-name {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: $primary-color;
  background-color: $overlay-bg-color;
  padding: 63px 24px;
  overflow: hidden;
  // если будет больше текста, ставим overflow:auto - появятся скроллы
  transition: transform $main-effect;

  .portfolio-list__item:hover &,
  .portfolio-list__item:focus & {
    transform: translateY(-100%);
  }
}
