// Лого

.logo {
  @include textFont($ff: $raleway, $fw: 700, $fs: 26px, $lh: 1.19, $ls: null);
}

.logo__accent {
  color: $accent-color;
}

// Лого шапки

.nav__logo {
  color: $title-text-color;

  @include minMedia($desk) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

// Лого футера

.footer-address__logo {
  color: $primary-color;

  @include minMedia($desk) {
    display: inline-block;
    padding-bottom: 20px;
  }
}
