// Лого

.logo {
  @include textFont($ff: $raleway, $fw: 700, $fs: 26px, $lh: 1.19, $ls: null);
}

.logo__accent {
  color: $accent-color;
}

// Лого шапки

.nav__logo {
  display: block;
  padding: 16px 0;
  // вместо правого маржина - вo флексе space-between;

  @include minMedia($tab) {
    padding: 26px 0;
    margin-right: 88px;
  }

  @include minMedia($desk) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  color: $title-text-color;
}

// Лого футера

.footer-address__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $primary-color;
}
