// Кнопка закрытия модалки

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex();
  width: calc(2 * #{$gap});
  height: calc(2 * #{$gap});
  padding: 0;

  color: $button-close-color;
  background-color: $primary-color;
  border: $button-close-border;
  border-radius: 50%;

  transition: transform $main-effect, color $main-effect, border-color $main-effect;

  &:hover,
  &:focus {
    color: $accent-color;
    transform: rotate(180deg);
    border-color: $accent-color;
  }
}

.button-close__icon-close {
  fill: currentColor;
}
