body {
  background-color: $primary-color;
  color: $primary-text-color;
  @include textFont;
}

.container {
  @include minMedia($desk) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  @include minMedia($desk) {
    padding: 94px 0;
  }
}

.section__title {
  color: $title-text-color;
  @include textFont($ff: null, $fw: 700, $fs: 36px, $lh: 1.17, $ls: null);
  text-align: center;

  @include minMedia($desk) {
    margin-bottom: 50px;
  }
}
