@mixin centeredFlex($type: flex, $just: center) {
  display: $type;
  align-items: center;
  justify-content: $just;
}

@mixin textFont($ff: $roboto, $fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin orderFont($ff: $roboto, $fw: 400, $fs: 14px, $lh: 1.16, $ls: 0.01em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin minMedia($startBreakpoint) {
  @media screen and (min-width: $startBreakpoint) {
    @content;
  }
}

@mixin maxMedia($finishBreakpoint) {
  @media screen and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin rangeMedia($startBreakpoint, $finishBreakpoint) {
  @media screen and (min-width: $startBreakpoint) and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin heroBg($media: desk, $dpr: 1x) {
  background: $hero-bg-gradient, url('../images/hero/hero-#{$media}@#{$dpr}.jpg'), $hero-bg-color;
  background: $hero-bg-gradient, url('../images/hero/hero-#{$media}@#{$dpr}.webp'), $hero-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
